<article class="the-item">

  <div class="item-header" id="<%= item.id %>">
    <h2><%= item["title"] %></h2>
    <div class="item-pic">
      <img src="<%= item.photo %>" alt="<%= item.title %>">
    </div>
  </div>

  <div class="item-info">
    <div class="info-container">
      <span><%= item.type.toUpperCase() %></span>
      <span class="price">$<%= item.price %></span>
    </div>
    <div>
      <div><%= item.description %></div>
    </div>
  </div>


  <!-- OWNER/SELLER -->
  <% if (item.seller_id === user.user_id) { %>
  <!-- active -->
  <% if (item.is_active) { %>
  <form class="item-deactivate" action="/item/<%= item.id %>/deactivate" method="POST"><button class="btn btn-outline-success btn-sm" type="submit">
      Mark as Sold
    </button></form>
  <% } else { %>
  <form class="item-activate" action="/item/<%= item.id %>/activate" method="POST"><button class="btn btn-outline-success btn-sm" type="submit">
      Mark as For Sale
    </button></form>
  <% } %>

  <form class="item-delete" action="/item/<%=item.id%>/delete" method="POST"><button class="btn btn-outline-success btn-sm" type="submit">
      Remove Item
    </button></form>


  <!-- BUYER -->
  <% } else { %>
  <!-- favourite -->
  <% if (favouritesIds.includes(item.id)) { %>
  <form class="item-unfav" action="/item/<%= item.id %>/unfav" method="POST"><button class="btn btn-outline-success btn-sm" type="submit">
      Remove from Favourites
    </button></form>
  <% } else { %>
  <form class="item-fav" action="/item/<%= item.id %>/fav" method="POST"><button class="btn btn-outline-success btn-sm" type="submit">
      Add to Favourites
    </button></form>
  <% } %>
  <!-- message -->

  <button onclick="location.href='mailto:hello@email.com';" class="btn btn-outline-info btn-sm" type="submit">
    Contact Seller
  </button>

  <% } %>



  </div>

</article>
